{% extends "TimDoerzbacherBundle:Default:base.html.twig" %}

{# -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- #}

{% block stylesheets %}
{{ parent() }}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/timdoerzbacher/css/home.css') }}" />
{% endblock %}

{# -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- #}

{% block headline %}Welcome!{% endblock %}

{# -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- #}

{% block content %}

<div class="hello-message">
	<img class="me" src="{{ asset('bundles/timdoerzbacher/img/saying hello.gif') }}"  />
	
	<p>Oh, my... you've found me and my virtual home on the internet.</p>
	
	<p>Actually... it's more like a resume thinly disguised as a blog that'll
	likely devolve into a kitten photo album.</p>
	
	<div class="clear-both"></div>

</div>

{% endblock %}
