{% extends "TimDoerzbacherBundle:Default:base.html.twig" %}

{% block content %}

<blockquote>Under construction.</blockquote>

<p>Oh, my... you've found me and my virtual home on the internet.</p>

<p>Actually... it's more like a resume thinly disguised as a blog and/or kitten photo album.</p>

{% endblock %}