{% extends "TimDoerzbacherBundle:Default:base.html.twig" %}


{# -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- #}

{% block headline %}
	An Overview of What I Know
	<!--  Interested in hiring and reading source code? Nice... --> 
{% endblock %}

{# -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- #}

{% block content %}

<blockquote>
	<p>Under construction.</p>
	<p>But safe to assume I know everything. I don't yet, but I learn real fast.</p>
</blockquote>


{% endblock %}