{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
	<div class="container">
		<h1>Why, hello.</h1>

		<p>
			Oh, my... you've found me and my virtual home on the internet.
		</p>

		<p>
			Actually... it's more like a resume thinly disguised as a blog that'll
			likely devolve into a kitten photo album.
		</p>

		<p><a class="btn btn-primary btn-lg" href="resume" role="button">Learn more</a></p>

	</div>
</div>

<div class="container">
	<div style="height: 600px">asdfasdfs</div>
</div>

{% endblock %}

