{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
	<div class="container">
		<h1>Why, hello.</h1>

		<p>
			Oh, my... you've found me and my virtual home on&nbsp;the&nbsp;internet.
		</p>

		<p>
			This site is ostensibly a website designed as a web based portfolio,
			but it's likely going to devolve into a showcase of
			<a href="catpoo">robot project</a> or time lapse videos of
			mundane scenarios.
		</p>

		<p><a class="btn btn-primary btn-lg"
			href="{{ path('pages', {'page': 'blog'}) }}" role="button">Learn more</a></p>

	</div>
</div>

{% endblock %}

