//
// Main styles for tim-doerzbacher.com
//

@import (reference) "../../../vendor/twbs/bootstrap/less/bootstrap.less";

body {
	// leave enough padding for the navbar at top
	padding-top: 50px;
	background: @gray-lighter;
}

main {
	background: white;
}

.navbar-main {
	.navbar-default();

	background-color: #f9f9f9;
	border: none;
	box-shadow: 0 0 10px @gray-light;
}

.navbar-brand_image {
	height: 26pt;
	margin-top: -5pt;
}


a[rel="external"] {

	&:after {
		content: ' \f08e';
		font-family: FontAwesome;
		font-size: 90%;
	}

}

.footer-main {
	.text-center;
	.text-muted;

	font-size: @font-size-small;
	padding: 3em 0 2em 0;
}

