ul.links {
}
	ul.links li {
		float: left;
		
		min-width: 240px;
		width: 30%;
		max-width: 300px;
		
		margin: 0 12px 12px 0;
		min-height: 160px;
		padding: 0;
		position: relative;
		overflow: hidden;
		transition: 1s;
	}
		ul.links li:hover {
			border-radius: 12px;
		}
	
		ul.links li a {
			color: #4598cc;
			position: absolute;
			top: 0; bottom: 0;
			left: 0; right: 0;
			padding: 12px 12px;
			text-decoration: none;
			border: 1px solid #CCC;
			border-radius: 0;
			transition: 1s;
		}
			ul.links li a:hover, ul.links li a:active {
				border: 1px solid #57beff;
				box-shadow: none;
				border-radius: 12px;
				box-shadow: inset 0 0 4px #57beff;
			}
		ul.links li .background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
			ul.links li .background img {
				position: absolute;
				left: 0; top: 0; right: 0; bottom: 0;
				text-indent: -999em;
				z-index: 1;
			}
		ul.links li .title {
			position: absolute;
			left: 0; right: 0; top: 0;
			padding: 4px 12px;
			background: url('../img/links/description-background.png');
			/*color: #57beff;*/
			color: #99d8ff;
			transition: 1s;
			opacity: 0;
			z-index: 100;
		}
			ul.links li:hover .title {
				color: #fff;
				opacity: 1;
			}
		ul.links li .description {
			background: url('../img/links/description-background.png');
			position: absolute;
			left: 0; right: 0; bottom: 0;
			padding: 4px 12px;
			opacity: 0;
			color: #fff;
			transition: 1s;
			z-index: 2;
		}
			ul.links li:hover .description {
				opacity: 1;
			}
			
/*@media screen and (max-width: 800px) {*/
@media screen and (max-width: 600px) {

	ul.links {
		text-align: center;
	}
	
		ul.links li {
			float: none;
			margin: 12px auto;
			display: inline-block;
			text-align: left;

			min-width: 240px;
			width: 90%;
			max-width: 300px;		
			
			height: auto;
			
			border-radius: 0;
			border: 1px solid #ccc;
		}
			ul.links li:hover,
			ul.links li:active {
				border-radius: 0;
			}
		
		ul.links li a {
			padding: 0;
			position: relative;
			left: auto; right: auto; top: auto; bottom: auto;
			min-height: 0;
			border: none;
		}
			ul.links li a:hover, ul.links li a:active {
				border: none;
				padding: 0;
				min-height: 0;
			}		
		ul.links li .background {
			position: relative;
			left: auto; right: auto; top: auto; bottom: auto;
			height: 160px;
		}
		
		ul.links li .title,
		ul.links li .description {
			opacity: 1;
			position: relative;
			left: auto; right: auto; top: auto; bottom: auto;
		}	
	
	/* note: this width should be 2columns, hence the even/old stuff */
	ul.links li:nth-child(even) { margin-left: 3px;  }
	ul.links li:nth-child(odd)  { margin-right: 3px; }




}

