body {
	/*background: #f0f;*/
}


header {
	
}
	header img.logo {
		margin: 0 auto 24px auto;
	}

#main-container { 
	/*background: #ff0*/ 
}

nav {
	margin: 24px 0 56px 0;
}
	nav ul {
		width: 260px;
	}
		nav ul li {
			margin: -24px 4px 0 0;
		}


#content {
	padding: 0;
}

div#bottom-hr {
	margin: 72px 0 0 0;
}
