.section {
	margin: 12pt auto;
	padding: 4pt;
	clear: both;
	max-width: 900px;
}
	.section .experience {
		margin: 4pt 8pt 8pt 8pt;
	}

		.section .experience .duration {
			float: right;
			color: #666;
			letter-spacing: 1pt;
			font-size: 10pt;
			line-height: 18pt;
		}
		.section .experience ul {
			list-style-type: circle;
			list-style-position: outside;
		}

	.section h2 {
		border-bottom: 1px solid #AAA;
		font-size: 14pt;
		clear: both;
	}

	.section h3 {
		margin: 0 0 8pt 0;
		color: #4598cc;
		border-bottom: 1px solid #AAA;
		font-size: 12pt;
	}
	.section .sub-section ul {
		margin: 0;
	}
	.section .description {
		color: #666;
		margin-bottom: 8pt;
		font-size: 90%;
	}
	.section p {
		font-size: 11pt;
		color: #666;
		/*max-width: 300pt;*/
		min-width: 168pt;

	}
	.section p:first-of-type {
		margin-top: 0;
	}

@media print {
	.section .experience {
		margin: 0 8pt 4px 8pt;
	}
	.section ul li {
		font-size: 9pt;
		line-height: 11pt;
		margin-bottom: 2pt;
	}
	.section h2 {
		font-size: 11pt;
	}
	.section h3 {
		margin: 0 0 4pt 0;
		font-size: 10pt;
	}
	.section .sub-section ul {
		margin: 0;
	}

	.section p {
		font-size: 8pt;
		line-height: 10pt;
		color: #666;
	}
}


.section.contact-info {

}
	.section.contact-info p {
		margin: 0 0 4pt 0;
		line-height: 20pt;
	}
	.section.contact-info div {
		min-width: 300px;
		/*margin-bottom: 8pt;*/
	}
	.section.contact-info .address {
		float: left;
	}
	.section.contact-info .email-address {
		float: left;
	}
	.section.contact-info .phone-number {
		float: left;
	}

@media print {
	.section.contact-info {
		padding-bottom: 0;
		height: 48pt;
	}
	.section.contact-info p {
		margin: 0;
		line-height: 10pt;
		font-size: 9pt;
	}
}


.section.skillsets {
}
	.section.skillsets ul li {
		line-height: 14pt;
		margin: 2pt 0;
	}
		.section.skillsets .level {
			float: right;
			overflow: hidden;
			width: 28pt;
			height: 14pt;
			text-indent: -999em;
			margin: 0 0 0 8pt;
			position: relative;
		}
			.section.skillsets .level img {
				width: 28pt; height: 84pt;
				position: absolute;
				top: 0; left: 0;
			}
				.section.skillsets .level0 img { top: 0; }
				.section.skillsets .level1 img { top: -14pt; }
				.section.skillsets .level2 img { top: -28pt; }
				.section.skillsets .level3 img { top: -42pt; }
				.section.skillsets .level4 img { top: -56pt; }
				.section.skillsets .level5 img { top: -70pt; }

	.section.skillsets .sub-section {
		margin: 0 4pt;
		padding: 12pt;
		/*max-width: 300pt;
		min-width: 168pt;*/
		width: 240px;
	}

.section .experience {
	margin-bottom: 12pt;
}


@media print {
	footer: display: none;
}